body {
    margin: 0;
}

.main {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    background-color: darkblue;
    padding: 20px;
}

.container{
    text-align: center;
    padding: 30px;
    margin: 20px;
    background-color: blue;
    border-radius: 4px;
}

.middle{
    align-self: center;
}

h2{
    font-family: "Protest Strike", sans-serif;
    font-size: 1.5em;
    color: whitesmoke;
    text-shadow: 2px 2px 2px black;
    margin: 0;

}

.score{
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 4em;
    margin: 20px;
}

.home > .score{
    color: green;
}

.away > .score{
    color: red;
}

button{
    border-radius: 5px;
    font-weight: bold;
    background-color: whitesmoke;
}

button:hover{
    background-color: #cccccc;
    cursor: pointer;
}
